@media ( max-width:1200px )
  .container
    max-width: 960px
  .hotel
    &-slider
      width: 590px
  .hotel
    &-slider
      &__image
        width: 100%
        height: 100%
        object-fit: cover
  .card
    width: 230px
    height: 230px

@media ( max-width: 992px  )
  .container
    max-width: 768px
  .logo
    width: 132px
  .navbar
    &-top
      padding-bottom: 30px
      padding-top: 30px
    &__search
      margin-left: auto
    &-menu
      padding-top: 22px
      padding-bottom: 23px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
  .hotel
    &-slider
      width: 100%
      margin-bottom: 30px
    &-grid
      flex-direction: column
    &__slide
      margin-bottom: 30px
    &-right
      flex-direction: row
  .booking
    width: 340px
  .hotel
    &-slider
      &__image
        width: 100%
  .map
    width: 340px
  .activities
    padding-top: 10px
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 340px
    height: 255px
  .reviews
    padding-bottom: 12px
@media (max-width: 768px)
  .container, .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding-bottom: 30px
      padding-top: 30px
    &__search
      margin-left: auto
    &-menu
      padding-top: 19px
      padding-bottom: 23px
      justify-content: space-around
      &__link
        font-size: 12px
        line-height: 15px
  .breadcrumb
    &-list
      padding-top: 19px
      padding-bottom: 18px
  .search
    &__input
      width: 340px
  .user
    margin-left: 26px
  .rating
    min-height: 46px
  .hotel
    padding-bottom: 57px
    &-info
      &__offer
        margin-left: 15px
        margin-top: 5px
  .booking
    padding: 29px 22px 26px 23px
    &__call-center
      margin-bottom: 16px
    &__info
      margin-bottom: 12px
    &__per-room
      line-height: 10px
  .newsletter
    padding: 73px 0px 71px 0px
  .reviews
    &-slider
      &__item
        max-width: 580px
        &:after, &:before
          display: none
      &__button
        top: 50%
        &--prev
          margin-left: 1px
        &--next
          margin-right: 1px
    &__title
      font-style: normal
      font-weight: bold
      font-size: 30px
      line-height: 38px
      margin-top: 31px
      margin-bottom: 50px
  .reviews
    padding-bottom: 70px
  .activities
    padding-top: 48px
@media ( max-width: 718px )
  .container
    max-width: 576px
    width: 92%
  .navbar
    &__search, &-menu, &__user
      display: none
  .menu
    &-button
      padding: 0
      display: flex
      width: 16px
      height: 11px
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer

      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .stars
    flex-basis: auto
  .hotel
    padding-bottom: 43px
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
      &__description
        margin-right: 14px
  .hotel
    &-right
      flex-direction: column
      min-height: 450px
    &-slider
      height: 250px
      margin-bottom: 20px
  .booking
    width: 100%
  .map
    width: 100%
  .newsletter
    padding: 60px 0px 83px 0px
    &__title
      margin-bottom: 37px
    &-title
      font-size: 20px
      line-height: 25px
      &__strong
        margin-top: 5px
        font-size: 30px
        line-height: 38px
    &-wrapper
      max-width: 480px
      min-width: 280px
      width: 87%
      flex-direction: column
      align-items: flex-start
  .subscribe
    width: 100%
    &__input
      padding-left: 21px
  .reviews
    &__title
      font-style: normal
      font-weight: bold
      font-size: 18px
      line-height: 23px
      text-align: center
      text-transform: uppercase
      margin-top: 29px
      margin-bottom: 43px
    &-slider
      &__item
        padding: 0 30px 30px
      &__button
        top: 30px
        &--prev
          left: 40%
          transform: translate(-50%, 0)
          margin-left: -65px
        &--next
          right: 31%
          transform: translate(-50%, 0)
          margin-right: -65px
  .activities
    padding-top: 23px
    padding-bottom: 60px
    &__title
      font-style: normal
      font-weight: bold
      font-size: 18px
      line-height: 23px
      margin-bottom: 34px
    &-wrapper
      &__three
        margin-bottom: 27px
  .card
    width: 49%
    height: 256px
    &__title
      font-style: normal
      font-weight: bold
      font-size: 16px
      line-height: 20px
    &__imagethe
      margin-bottom: 28px

@media (max-width: 480px) and (min-width: 320px)
  .container
    max-width: 480px
    min-width: 280px
    width: 87%
  .stars
    padding-right: 16px
  .logo
    width: 99px
    height: 13px
    &__image
      display: flex
      align-items: flex-start
  .navbar
    &__search, &-menu, &__user
      display: none
    &-top
      padding-bottom: 29px
      padding-top: 28px
  .menu
    &-button
      padding: 0
      display: flex
      width: 16px
      height: 11px
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .hotel
    padding-top: 5px
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      margin-bottom: 37px
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
        margin-top: 0
  .hotel
    &-right
      flex-direction: column
      min-height: 400px
    &-slider
      height: 179px
      margin-bottom: 20px
      &__button
        background-size: 4px
        &--next
          right: 0px
        &--prev
          left: 0px
  .booking
    width: 100%
    &__number
      padding-right: 3px
    &__call-center
      margin-bottom: 17px
  .map
    width: 100%
    max-height: 172px
  .reviews
    &__title
      max-width: 245px
      margin-left: auto
      margin-right: auto
  .card
    width: 100%
